

<div class="section my-2">
<h1>Admin Dashboard</h1>
<div class="card-deck">

<div class="card bg-light p-2">
<div class="card-header"># of Products</div>
<div class="card-body">
<%= @product_count %>
</div>
</div>


<div class="card bg-light p-2 mt-4">
<div class="card-header"># of Categories</div>
<div class="card-body">
<%= @category_count %>
</div>
</div>
</div>
</div>